<div class="container">
<div class="row">
  <div class="col-lg-4">
    <img  width="200px" height="200px" src="assets/clima.png" alt="">
  </div>
  <div class="col-lg-6 mt-3">
    <input type="text" class="form-control" placeholder="Ingrese ciudad">
    <br>
    <button (click)="mostrarClima()" class="btn btn-primary btn-block">Aceptar</button>
    <br>
    <br>

    <div class="card-header">Clima actual</div>
    <div class="card-body">
      <p class="card-text"> <b>Temperatura: </b>{{ temperatura }} ºC </p>
      <p class="card-text"> <b>Humedad: </b> {{ humedad }}</p>
    </div>

  </div>
</div>



</div>
